<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- !!! MANA SHU QATOR YETISHMAYOTGAN EDI !!! -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.YolYolakay"
        tools:targetApi="31">
        <activity
            android:name=".PasswordCreationActivity"
            android:exported="false" />
        <activity
            android:name=".GenderSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".DateOfBirthActivity"
            android:exported="false" />
        <activity
            android:name=".EmailInputActivity"
            android:exported="false" />
        <activity
            android:name=".RegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".CitySelectionActivity"
            android:exported="false" />
        <activity
            android:name=".SearchResultActivity"
            android:exported="false" /> <!-- ASOSIY EKRAN (MainActivity) -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TripDetailsActivity" /> <!-- AddTripActivity -->
        <activity
            android:name=".AddTripActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"/>
    </application>

</manifest>